<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> SA Tech Voices </title>
    <link rel="icon" type="image/ico" sizes="16x16" href="./assets/images/favicon.ico">
    <script src="https://use.fontawesome.com/287cbfd20e.js"></script>
    <link rel="stylesheet" href="styles/main.css" media="screen">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  </head>
  <body>
    <main id="app"></main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js">
    </script>
    <script src="javascripts/bundle.js" charset="utf-8"></script>
  </body>
</html>
