/*
  Main Stylesheet
*/
* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, sans-serif;
  /*adjust font size to calibrate for rem*/
  font-size: 62.5%;
  margin: 0;
}

/*
  Nav Styling
*/
.nav__wrapper {
  width: 100vw;
}

.nav {
  background-color: white;
  border-bottom: 1px solid black;
  height: 70px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  width: 70%;
}
.nav__logo, .nav__links {
  display: inline-block;
  width: 50%;
}

.nav__link {
  color: black;
  letter-spacing: .2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:nth-child(2) {
  margin: 0 20px;
}

.googleSignUp {
  /*position: absolute;
  right: 3rem;
  top: 1rem;*/
}

/*
  Main Page Styling
*/

.main__banner {
  background-image: url("http://www.thesanantonioriverwalk.com/images/site/home_night_banner.jpg");
  background-size: cover;
  height: 400px;
  position: relative;
}

.main__bannerOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

.main__bannerText {
  color: rgb(245, 245, 245);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

.article__list {
  padding: 30px 0;
}

.article__previews {
  border: 1px solid rgb(0,0,0);
  margin: 20px auto;
  padding: 20px;
  width: 60%;
}

.article__headshot {
  background-color: rgb(158, 160, 163);
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.article__content {
  padding: 0 20px;
}

.footer {
  border-top: 1px solid rgb(0, 0, 0);
  height: 5vh;
  padding: 20px 30px;
  width: 100vw;
}

.footer__aboutUs, .footer__socialMedia {
  display: inline-block;
  width: 50%;
}

.footer__heading {
  margin: 0;
}

.footer__socialMedia {
  text-align: right;
}

.footer__socialMediaLink {
  background-color: rgb(158, 160, 163);
  border-radius: 50%;
  display: inline-block;
  height: 45px;
  width: 45px;
}

.footer__socialMediaLink:nth-child(2) {
  margin: 0 10px;
}


/*
  Article styling (detail/blog)
*/

.articleContainer {
  margin: 20px auto;
  padding: 20px;
  position: relative;
  width: 60%;
}

.article__header {
  border: 1px solid rgb(0,0,0);
  margin: 20px 0;
  padding: 20px 100px;
}

.article__authorHeadshot {
  background-color: rgb(158, 160, 163);
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.article__author {
  display: inline-block;
  font-size: 40px;
  margin: 0;
  position: absolute;
  left: 350px;
  top: 65px;
  vertical-align: top;
}
.article__timestamp {
  position: absolute;
  left: 350px;
  top: 130px;
}

.article {
  border: 1px solid rgb(0,0,0);
  margin: 20px 0;
  padding: 20px;
}

/*
 New Article
*/

.newArticle__authorpic {
  background-color: rgb(158, 160, 163);
  border-radius: 50%;
  height: 65px;
  width: 65px;
}

.editorContainer {
  width: 80%;
  margin: auto;
}
